target/*
.project
.settings/*
.classpath
.git-credentials
.ideag
*.iml
.idea/
.iml
*.swp





config/config-local.js

/node_modules
/app/vendor
/app/index.html
/app/assets/css/all*.css
/app/assets/js/all*.js
/app/assets/img/sprite.*.png
