target/*
.project
.settings/*
.classpath
.git-credentials
.ideag
*.iml
.idea/
.iml
*.swp

vendor/*
/target/
/static/
.sass-cache/*
vendor/*
app/assets/.sass-cache/*
app/assets/css/main.css
config/config-local.js
/node_modules/
/vendor/
app/assets/css/ie.css
app/assets/css/print.css
app/assets/css/screen.css
version.json
dist/*
app/assets/css/all.*.css
/index.html
