<!DOCTYPE html>
<html ng-app="webapp">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="HK GTA">
		<meta name="keywords" content="HK GTA">
		<meta name="author" content="EPAM">
		<link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon" />
		<link href="vendor/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" />
		<link href="assets/css/all.0000000.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<script>
			window.BUILD_HTML_HASH = '0000000';
		</script>
	</head>
	<body>
        <div class="wrapper">
        <div class="overlay mid hide">
            <div class="close txt-center"><a class="yellow bold" href="javascript:;">CLOSE</a> </div>
            <div class="main-body">
                <div class="header">
                    <h1>Message box</h1>
                </div>
                <div class="overlay-content">
                    <ul class="record-list">
                        <li class="clearfix">
                            <img class="left" src="assets/img/event_detail_img.png" width="140" height="100">
                            <div class="detail">
                                <div class="clearfix">
                                    <span class="yellow">July 01, 2015</span>
                                    <a class="right" href="javascript:;">REMOVE <i class="icon icon-close"></i></a>
                                </div>
                                <h3 class="bold">Billy Morgan</h3>
                                <div class="clearfix">
                                    <a class="underline" href="">APPROVED TO JOIN!</a>
                                    <button class="btn sm-yellow right">Pay Now!</button>
                                </div>

                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="left" src="assets/img/event_detail_img.png" width="140" height="100">
                            <div class="detail">
                                <div class="clearfix">
                                    <span class="yellow">July 01, 2015</span>
                                    <a class="right" href="javascript:;">REMOVE <i class="icon icon-close"></i></a>
                                </div>
                                <h3 class="bold">Billy Morgan</h3>
                                <div class="clearfix">
                                    <a class="underline" href="">Come and join us!  JOIN!</a>
                                    <button class="btn sm-yellow right">Join! </button>
                                </div>

                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="left" src="assets/img/event_detail_img.png" width="140" height="100">
                            <div class="detail">
                                <div class="clearfix">
                                    <span class="yellow">July 01, 2015</span>
                                    <a class="right" href="javascript:;">REMOVE <i class="icon icon-close"></i></a>
                                </div>
                                <h3 class="bold">Billy Morgan</h3>
                                <div class="clearfix">
                                    <a class="underline" href="">APPROVED TO JOIN!</a>
                                    <button class="btn sm-yellow right">Pay Now!</button>
                                </div>

                            </div>
                        </li>
                        <li class="clearfix">
                            <img class="left" src="assets/img/event_detail_img.png" width="140" height="100">
                            <div class="detail">
                                <div class="clearfix">
                                    <span class="yellow">July 01, 2015</span>
                                    <a class="right" href="javascript:;">REMOVE <i class="icon icon-close"></i></a>
                                </div>
                                <h3 class="bold">Billy Morgan</h3>
                                <div class="clearfix">
                                    <a class="underline" href="">APPROVED TO JOIN!</a>
                                    <button class="btn sm-yellow right">Pay Now!</button>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer"></div>
            </div>
        </div>
        <div class="mask hide"></div>
            <header>
                <div class="lg-content clearfix">
                    <span class="log-in grey txt-right right" href="javascript:;">
                        LOG IN <i class="narrow sm-bottom"></i>
                        <div class="dropdown">
                            <i class="narrow top"></i>
                            <div class="photo-area">
                                <img src="assets/img/event_detail_img.png" />
                            </div>
                            <ul class="top-list txt-center">
                                <li><a href="javascript:;">My Profile</a> </li>
                                <li><a href="javascript:;">Log out</a> </li>
                            </ul>
                        </div>
                    </span>
                </div>
                <img src="assets/img/header.jpg" />
            </header>
            <div ui-view></div>
            <footer><img src="assets/img/footer.jpg" /></footer>
        </div>
		<script src="vendor/jquery/dist/jquery.min.js"></script>
		<script src="vendor/angularjs/angular.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-resource/angular-resource.min.js"></script>
		<script src="vendor/angular-messages/angular-messages.min.js"></script>
		<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="vendor/a0-angular-storage/dist/angular-storage.min.js"></script>
		<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="assets/js/all.0000000.js"></script>
	</body>
</html>
