i.icon {
    display: inline-block;
    background-image: url(../img/sprite.031e309.png);
  
}
i.icon-add {
    background-position: -32px 0px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-left-double {
    background-position: -62px -63px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-left {
    background-position: 0px -32px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-lg {
    background-position: 0px -94px;
    width: 26px;
    height: 29px;
}
i.icon-arrow-right-double {
    background-position: -63px 0px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-right {
    background-position: -63px -31px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-sm {
    background-position: -26px -94px;
    width: 25px;
    height: 25px;
}
i.icon-attach-add {
    background-position: -94px -30px;
    width: 30px;
    height: 30px;
}
i.icon-attach {
    background-position: -94px 0px;
    width: 30px;
    height: 30px;
}
i.icon-edit {
    background-position: -94px -60px;
    width: 27px;
    height: 30px;
}
i.icon-expand {
    background-position: -124px -54px;
    width: 14px;
    height: 14px;
}
i.icon-help {
    background-position: -124px -38px;
    width: 16px;
    height: 16px;
}
i.icon-profile-gray {
    background-position: -124px -19px;
    width: 19px;
    height: 19px;
}
i.icon-profile {
    background-position: -124px 0px;
    width: 19px;
    height: 19px;
}
i.icon-refresh {
    background-position: -31px -63px;
    width: 31px;
    height: 31px;
}
i.icon-remove {
    background-position: 0px -63px;
    width: 31px;
    height: 31px;
}
i.icon-scan {
    background-position: -51px -94px;
    width: 24px;
    height: 24px;
}
i.icon-search-2 {
    background-position: -75px -94px;
    width: 24px;
    height: 24px;
}
i.icon-search {
    background-position: -31px -32px;
    width: 31px;
    height: 31px;
}
i.icon-sort {
    background-position: -99px -94px;
    width: 21px;
    height: 21px;
}
i.icon-submit {
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
