i.icon {
    display: inline-block;
    background-image: url(../img/sprite.0000000.png);
  
}
i.icon-account_brown {
    background-position: -108px 0px;
    width: 41px;
    height: 40px;
}
i.icon-account_gray {
    background-position: -108px -40px;
    width: 41px;
    height: 40px;
}
i.icon-add {
    background-position: -189px -22px;
    width: 21px;
    height: 22px;
}
i.icon-add_gray {
    background-position: -128px -120px;
    width: 24px;
    height: 24px;
}
i.icon-assignment {
    background-position: 0px 0px;
    width: 58px;
    height: 80px;
}
i.icon-available {
    background-position: -46px -120px;
    width: 30px;
    height: 30px;
}
i.icon-calendar {
    background-position: -189px 0px;
    width: 22px;
    height: 22px;
}
i.icon-card {
    background-position: -149px -37px;
    width: 40px;
    height: 25px;
}
i.icon-cart {
    background-position: 0px -174px;
    width: 23px;
    height: 21px;
}
i.icon-close {
    background-position: -79px -150px;
    width: 16px;
    height: 16px;
}
i.icon-courses {
    background-position: -58px -43px;
    width: 50px;
    height: 36px;
}
i.icon-dinning_confirm_purple {
    background-position: -149px -92px;
    width: 25px;
    height: 25px;
}
i.icon-dinning_gray {
    background-position: -189px -87px;
    width: 20px;
    height: 21px;
}
i.icon-dinning_orange {
    background-position: -189px -65px;
    width: 20px;
    height: 22px;
}
i.icon-edit_brown {
    background-position: -189px -130px;
    width: 19px;
    height: 21px;
}
i.icon-edit_green {
    background-position: -189px -108px;
    width: 19px;
    height: 22px;
}
i.icon-envelope {
    background-position: -53px -150px;
    width: 26px;
    height: 18px;
}
i.icon-forbidden {
    background-position: -189px -44px;
    width: 21px;
    height: 21px;
}
i.icon-full_srceen {
    background-position: -58px 0px;
    width: 50px;
    height: 43px;
}
i.icon-golf_bay_green {
    background-position: -76px -120px;
    width: 26px;
    height: 24px;
}
i.icon-golf_bay_orange {
    background-position: -102px -120px;
    width: 26px;
    height: 24px;
}
i.icon-golf_bay_purple {
    background-position: -123px -80px;
    width: 26px;
    height: 24px;
}
i.icon-guest_room_purple {
    background-position: -23px -150px;
    width: 30px;
    height: 18px;
}
i.icon-history {
    background-position: -149px 0px;
    width: 40px;
    height: 37px;
}
i.icon-light {
    background-position: -174px -92px;
    width: 15px;
    height: 15px;
}
i.icon-not_available {
    background-position: -149px -62px;
    width: 30px;
    height: 30px;
}
i.icon-private_coach {
    background-position: -80px -80px;
    width: 43px;
    height: 36px;
}
i.icon-remove_red {
    background-position: 0px -150px;
    width: 23px;
    height: 24px;
}
i.icon-restaurant_red {
    background-position: -189px -151px;
    width: 19px;
    height: 20px;
}
i.icon-subtract_gray {
    background-position: -152px -120px;
    width: 24px;
    height: 24px;
}
i.icon-transaction_brown {
    background-position: -40px -80px;
    width: 40px;
    height: 40px;
}
i.icon-transaction_gray {
    background-position: 0px -80px;
    width: 40px;
    height: 40px;
}
i.icon-users {
    background-position: 0px -120px;
    width: 46px;
    height: 30px;
}
