i.icon {
    display: inline-block;
    background-image: url(../img/sprite.0000000.png);
  
}
i.icon-account_brown {
    background-position: 0px -354px;
    width: 41px;
    height: 40px;
}
i.icon-account_gray {
    background-position: -41px -354px;
    width: 41px;
    height: 40px;
}
i.icon-add {
    background-position: -396px 0px;
    width: 21px;
    height: 22px;
}
i.icon-add_gray {
    background-position: -158px -317px;
    width: 24px;
    height: 24px;
}
i.icon-assignment {
    background-position: 0px -274px;
    width: 58px;
    height: 80px;
}
i.icon-available {
    background-position: -98px -317px;
    width: 30px;
    height: 30px;
}
i.icon-calendar {
    background-position: -162px -354px;
    width: 22px;
    height: 22px;
}
i.icon-card {
    background-position: -247px -274px;
    width: 40px;
    height: 25px;
}
i.icon-cart {
    background-position: -184px -354px;
    width: 23px;
    height: 21px;
}
i.icon-courses {
    background-position: -108px -274px;
    width: 50px;
    height: 36px;
}
i.icon-dinning_confirm_purple {
    background-position: -287px -274px;
    width: 25px;
    height: 25px;
}
i.icon-dinning_gray {
    background-position: -396px -65px;
    width: 20px;
    height: 21px;
}
i.icon-dinning_orange {
    background-position: -396px -43px;
    width: 20px;
    height: 22px;
}
i.icon-edit_brown {
    background-position: -396px -108px;
    width: 19px;
    height: 21px;
}
i.icon-edit_green {
    background-position: -396px -86px;
    width: 19px;
    height: 22px;
}
i.icon-envelope {
    background-position: -259px -317px;
    width: 26px;
    height: 18px;
}
i.icon-event_detail_img {
    background-position: 0px 0px;
    width: 396px;
    height: 274px;
}
i.icon-forbidden {
    background-position: -396px -22px;
    width: 21px;
    height: 21px;
}
i.icon-full_srceen {
    background-position: -58px -274px;
    width: 50px;
    height: 43px;
}
i.icon-golf_bay_green {
    background-position: -364px -274px;
    width: 26px;
    height: 24px;
}
i.icon-golf_bay_orange {
    background-position: -338px -274px;
    width: 26px;
    height: 24px;
}
i.icon-golf_bay_purple {
    background-position: -312px -274px;
    width: 26px;
    height: 24px;
}
i.icon-guest_room_purple {
    background-position: -229px -317px;
    width: 30px;
    height: 18px;
}
i.icon-history {
    background-position: -58px -317px;
    width: 40px;
    height: 37px;
}
i.icon-not_available {
    background-position: -128px -317px;
    width: 30px;
    height: 30px;
}
i.icon-private_coach {
    background-position: -158px -274px;
    width: 43px;
    height: 36px;
}
i.icon-remove_red {
    background-position: -206px -317px;
    width: 23px;
    height: 24px;
}
i.icon-restaurant_red {
    background-position: -396px -129px;
    width: 19px;
    height: 20px;
}
i.icon-subtract_gray {
    background-position: -182px -317px;
    width: 24px;
    height: 24px;
}
i.icon-transaction_brown {
    background-position: -122px -354px;
    width: 40px;
    height: 40px;
}
i.icon-transaction_gray {
    background-position: -82px -354px;
    width: 40px;
    height: 40px;
}
i.icon-users {
    background-position: -201px -274px;
    width: 46px;
    height: 30px;
}
