<section>
    <div class="main clearfix">
        <div class="left-sidebar">
            <ul class="list">
                <li class="active"><a href="javascript:;">My Profile <i class="icon icon-light"></i></a></li>
                <li><a href="javascript:;">My Account <i class="icon icon-light"></i></a></li>
                <li><a href="javascript:;">Day pass <i class="icon icon-light"></i></a></li>
                <li><a href="javascript:;">Dependent Members <i class="icon icon-light"></i></a></li>
            </ul>
        </div>
        <form name="profileForm" ng-submit="update(customer)">
        <div class="right-sidebar">
            <ul class="nav clearfix">
                <li><a href="javascript:;">dashboard</a></li>
                <li>
                    <a href="javascript:;">
                        <p>My</p>
                        <p>Booking</p>
                    </a>
                </li>
                <li><a href="javascript:;">Facilities</a></li>
                <li><a href="javascript:;">training</a></li>
                <li><a href="javascript:;">Events</a></li>
            </ul>

            <div class="breadcrumb">
                <a href="#">My Profile</a>
                <span>&gt;</span>
                <a href="#">edit profile</a>
            </div>

            
            <div class="fragment no-spacing">
                <div class="clearfix">
                    <div class="photo-area left">
                        <!-- <img src="assets/img/event_detail_img.png" /> -->

                        
                        <div ng-if="!customer.portraitPhoto">
                            <input class="input-upload" type="file" id="fileInput" name="file" onchange="angular.element(this).scope().uploadPortraitPhoto(this)" />
                        </div>
                        <div ng-if="customer.portraitPhoto ">
                            <input class="input-upload" type="file" id="fileInput" name="file" onchange="angular.element(this).scope().uploadPortraitPhoto(this)" />
                            <img class="img-upload" ng-src="{{getFileUrl+customer.portraitPhoto}}" gta-broken-image />
                        </div>

                    </div>
                    <ul class="info left">
                        <li>
                            <label>User Name:</label>
                            <span>{{customer.surname}} {{customer.givenName}}</span>
                        </li>
                        <li>
                            <label>Academy ID:</label>
                            <span>{{customerMember.academyNo}}</span>
                        </li>
                    </ul>

                </div>
                <div class="green-bg clearfix">
                    <h2 class="uppercase">basic:</h2>
                    <ul class="info-list clearfix">
                        <li>
                            <label>Date of Birth:</label>
                            <span>{{customer.dateOfBirth}}</span>
                        </li>
                        <li>
                            <label>Nationality:</label>
                            <span>{{customer.nationality}}</span>
                        </li>
                        <li>
                            <label>Sex:</label>
                            <span>{{customer.gender == "M" ? "Male":"Female"}}</span>
                        </li>
                        <li>
                            <label>Mobile phone #:</label>
                            <span>{{customer.phoneMobile}}</span>
                        </li>
                        <li>
                            <label>Business phone #:</label>
                            <span>{{customer.phoneBusiness}}</span>
                        </li>
                        <li>
                            <label>Home phone #:</label>
                            <span>{{customer.phoneHome}}</span>
                        </li>
                    </ul>
                    <ul class="info-list clearfix">
                        <li>
                            <label>Email:</label>
                            <span>{{customer.contactEmail}}</span>
                        </li>
                        <li class="email">
                            <label>Postal Address:</label>
                            <span class="inline-element">{{customer.postalAddress1}}</span>
                            <span>{{customer.postalAddress2}}</span>
                            <span>{{customer.postalDistrict}}</span>
                        </li>

                        <li>
                            <label>Business Nature:</label>
                            <span>{{customer.businessNature}}</span>
                        </li>
                    </ul>
                </div>
                <div class="rest-info clearfix">
                    <div class="optional left">
                        <h2 class="uppercase">Optional:</h2>
                        <ul class="info-list clearfix">
                            <li>
                                <label>Position title:</label>
                                <input type="text"
                                 ng-model="customer.customerAdditionInfos[0].customerInput" />
                            </li>
                            <li>
                                <label>Highest School:</label>
                               <input type="text"
                                 ng-model="customer.customerAdditionInfos[1].customerInput" />
                            </li>
                            <li>
                                <label>Graduation Year:</label>
                                <input type="text"  ng-model="customer.customerAdditionInfos[2].customerInput" />
                            </li>
                            <li>
                                <label>Highest Education:</label>
                                <input type="text"
                                 ng-model="customer.customerAdditionInfos[3].customerInput" />
                            </li>
                            <li>
                                <label>Vehicle License Plate:</label>
                               <input type="text" ng-model="customer.customerAdditionInfos[4].customerInput" />
                            </li>
                            <li>
                                <label>Marriage:</label>
                                <input type="text" ng-model="customer.customerAdditionInfos[5].customerInput" />
                            </li>
                        </ul>
                    </div>
                    <div class="favor left">
                        <h2 class="uppercase">favor:</h2>
                        <ul class="info-list clearfix">
                            <li>
                                <label>Accommodation type:</label>
                                <input type="text" ng-model="customer.customerAdditionInfos[6].customerInput" />
                            </li>
                            <li>
                                <label>Food and Beverage:</label>
                                <input type="text" ng-model="customer.customerAdditionInfos[7].customerInput" />
                            </li>
                            <li>
                                <label>Hobbies/ Sports:</label>
                                <input type="text" ng-model="customer.customerAdditionInfos[8].customerInput" />
                            </li>
                            <li>
                                <label>Food Allergy:</label>
                                <input type="text"  ng-model="customer.customerAdditionInfos[9].customerInput" />
                            </li>
                            <li>
                                <label>Vegetarian:</label>
                                <input type="text" ng-model="customer.customerAdditionInfos[10].customerInput" />
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
             
            <button class="btn grey mid border-btn italic uppercase" ng-click="reset()">Back</button>
            <button type="submit" class="btn yellow mid border-btn italic uppercase" >Save profile</button>
            <hr />
        </div>
        </form>
    </div>
</section>