
//pc Height
$pc-header-height:2.5%;
$pc-section-height:83.5%;
$pc-footer-height:14%;

//pc login Height
$pc-login-header-height:2.5%;
$pc-login-section-height:97.5%;

$main-background: #a71f38;
$darker-brown: #816c4d;
$light-brown: #8d744d;
$darker-red: #ac1a2f;
$light-orange: #f4f1ec;
$light-green: #62a945;
$darker-red2: #ac1f2d;
$sea-green:#72A189;
$light-green:#62a945;
$darker-middle-brown: #8F7447;

$disabled-color: #B4B4B4;
