// for web portal
// Fonts: Helvetica Neue Thin
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $font-family;
    src:url('#{$file-path}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

$FranklinGothicBook: FranklinGothicBook;
$FranklinGothicBookRegular: FranklinGothicBookRegular;

@include font-face(#{$FranklinGothicBook}, '../assets/fonts/#{$FranklinGothicBook}/#{$FranklinGothicBook}');
@include font-face(#{$FranklinGothicBookRegular}, '../assets/fonts/#{$FranklinGothicBookRegular}/#{$FranklinGothicBookRegular}');

// Color variable
$light-grey: #878787;  // the circle selection
$lighter-grey: #e7e7e7;
$lighter1-grey: #6f6f6f;
$lighter2-grey: #f3f3f3;
$lighter3-grey: #e6e6e6;
$lighter4-grey: #c3c3c3;
$lighter5-grey: #d6d6d6;

$red: #ac1a2f;
$dark-red: #901823; // hover style and selected style

$yellow: #8c724c;
$lighter-yellow: #f4f0ec;
$lighter2-yellow: #f9f7f6;
$lighter3-yellow: #f4f0ed;

$black: #000;
$lighter-black: #2c2417; //the button's border color
$brown: #615b51;

$green: #63a51f; //golf bay color
$light-green: #e3ede8;

$white: #fff;



// opacity value


