@import "../utils/variables";
.nav {
  & li {
    float: left;
    margin-left: 47px;

    &:first-child {
      margin-left: 0;
    }

    >a {
      width: 120px;
      height: 120px;
      display: table-cell;
      color: $white;
      text-align: center;
      vertical-align: middle;
      background-color: $light-grey;
      opacity: .5;
      filter: alpha(opacity=50);
      border-radius: 100px;
      text-transform: uppercase;

      >span {
        width: 120px;
        height: auto;
        display: inherit;
      }

      &:hover, &.active {
        background-color: $dark-red;
      }
    } // end a
  } // end li
} // end nav

.list {
  >li {
    line-height: 54px;
    >a {
      text-transform: uppercase;
      color: $light-grey;
      width: 100%;

      &:hover {
        opacity: .8;
        filter: alpha(opacity=80);
      }

      >i {
        margin-left: 20px;
        visibility: hidden;
      }
    } // end a

    &.active {
      >a {
        color: $red;

        >i {
          margin-left: 20px;
          visibility: visible;
        }
      }
    } // end active
  } // end li
} // end list


.breadcrumb {
  color: $dark-red;
  text-transform: uppercase;
  margin: 20px 0;

  >a {
    color: $dark-red;
    font-size: 15px;
  }
} // end breadcrumb

.pagination {
  vertical-align: middle;
  font-family: "FranklinGothicBook";
  font-size: 15px;
  color: $red;
  line-height: 40px;

  >span {
    text-transform: capitalize;
  }

  >a {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    color: $red;
    font-size: 15px;
    font-family: "FranklinGothicBook";

    &.active {
      border-radius: 25px;
      background-color: $lighter-grey;
    }
  }
} // end pagination

.tabs {
  &.course {
    >li {
      height: auto;
      line-height: 24px;
      background-color: $lighter-yellow;
      margin-left: 4px;
      width: 392px;

      &:first-child {
        margin-left: 0;
      }

      >a {
        text-align: center;

        i {
          float: none;
          margin: 10px 0 0 0;
        }
      }
    } // end li
  } // end course

  &.private-coach {
    >li {
      line-height: 24px;
      background-color: $lighter-yellow;
      margin-left: 4px;
      width: 394px;
      height: 222px;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        width: 384px;
        border: 4px solid $yellow;
        height: 214px;

        img {
          width: 384px;
          height: 214px;
          opacity: .6;
        }
        h1 {
          color: $white;
          text-shadow: 2px 2px 4px $light-grey;
        }
      }

      >a {
        text-align: center;

        i {
          float: none;
          margin: 10px 0 0 0;
        }
      }
      h1 {
        font-family: "constantia";
        line-height: 220px;
        color: $yellow;
      }
      img {
        opacity: .6;
      }
    } // end li
  } // end private-coach

  .title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    //            background-color: $white;
    //            opacity: .4;
    z-index: 99;
  }
  >li {
    float: left;
    width: 50%;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: $lighter3-grey;
    margin-bottom: 20px;

    >ul {
      >li {
        float: left;
        margin-left: 1px;

        >a {
          position: relative;
          display: inline-block;

          >img {
            opacity: .6;
          }
          h1 {
            font-family: "Constantia";
            color: $white;
            text-transform: uppercase;
            line-height: 124px;
            margin: 0;
          }
        }

        &:first-child {
          margin-left: 4px;
        }
      }
    }

    >a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $light-grey;
      text-align: left;
      font-size: 20px;
      text-transform: uppercase;

      >i {
        float: left;
        margin: 20px 20px 0 20px;
      }
    }
    >i {
      visibility: hidden;
    }
    &.active {
      background-color: $lighter-yellow;

      >a {
        color: $yellow;
      }
      >i {
        visibility: visible;
      }
    } // end active
  } // end li
} // end tabs

// narrow -- start
.narrow {
  width: 0;
  height: 0;
  bottom: -10px;
  position: absolute;

  &.bottom {
    border-top: 10px solid $lighter-yellow;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  &.top {
    top: -28px;
    left: 78px;
    border-bottom: 10px solid $red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  &.left {
    border-right: 10px solid $lighter-yellow;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  &.right {
    border-left: 10px solid $lighter-yellow;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  &.sm-bottom {
    top: 6px;
    border-top: 6px solid $black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
} // end narrow

.info {
  >li {
    font-size: 20px;
    margin: 16px 0;
    font-family: "FranklinGothicBook";

    >label {
      width: 278px;
      padding-left: 20px;
      color: $red;
      display: inline-block;
    }
    >span {
      color: $black;
      font-weight: bold;
    }
  }
} // end info

.fragment {
  background-color: $lighter-yellow;
  padding: 10px 10px 20px 10px;
  font-family: "FranklinGothicBook";

  >h2 {
    color: $yellow;
    line-height: 36px;
    margin-bottom: 20px;

    >i {
      float: left;
      margin: 0 20px 0 10px;
    }
  } // end h2

  &.account {
    div {
      background-color: $white;
      padding: 10px 10px 20px 10px;
      margin-bottom: 10px;
      width: 360px;
      float: left;
    }
  }
  div {
    &.comment {
      >p {
        color: $green;
      }
    }
    >p {
      font-family: "FranklinGothicBook";
      color: $yellow;
      font-size: 17px;

      &.first-child {
        color: $light-grey;
        margin-bottom: 20px;
      }

      >span {
        color: $black;
        font-size: 20px;
        font-weight: bold;
      }
    } // end p
    >button {
      font-family: "FranklinGothicBook" !important;
    }
    >h3 {
      font-size: 20px;
      font-weight: bold;
      color: $yellow;
      font-family: "FranklinGothicBook";
      margin-bottom: 6px;
    }
    >ul {
      >li {
        font-size: 18px;
        line-height: 24px;
        font-family: "FranklinGothicBook";

        >label {
          width: 210px;
          color: $yellow;
          display: inline-block;
        }
        >span {
          color: $green;
        }
      } // end li;
    } // end ul
  } // end div

  ul {
    &.info {
      margin: 50px 0 0 10px;

      >li {
        font-size: 25px;

        >label {
          width: 210px;
          display: inline-block;
          color: $yellow;
        }
        >span {
          color: $yellow;
          font-weight: normal;
        }
      } // end li
    } // end info
  } // end ul

  &.no-spacing {
    padding: 0;
    margin: 0;
  }

  .rest-info {
    padding: 12px 20px 20px 20px;

    .favor, .optional {
      width: 49%;
    }

    ul {
      width: 100%;

      >li {
        input {
          width: 180px;
          height: 24px;
          line-height: 24px;
          border-color: $lighter3-grey;
        }
      }
    } // end ul
  } // end rest-info
} // end fragment

.filter {
  >span {
    font-size: 15px;
    color: $light-grey;
    margin-right: 10px;
  }
  >select {
    min-width: 174px;
    width: 174px;
    height: 40px;
    border: 1px solid $lighter4-grey;
    background-color: $lighter2-grey;
    color: $yellow;
    font-size: 17px;
  }
} // end filter

.data {
  margin: 20px 0 0 0;

  .filter-area {
    margin: 20px 0;
  }
} // end data-area

.form-field {
  >li {
    margin: 16px 0 0 0;

    >label {
      width: 200px;
      display: inline-block;
      font-family: "FranklinGothicBook";
      color: $yellow;
    }

    >input {
      width: 202px;
    }

    >button {
      width: 228px;
    }

    >select {
      width: 398px;
      color: $yellow;
      font-size: 20px;
    }
  } // end li
} // end form-field

.photo-area {
  width: 160px;
  height: 160px;
  border-radius: 90px;
  overflow: hidden;
  margin: 20px;
} // end photo-area

.info-list {
  margin-top: 12px;
  width: 49%;
  float: left;

  >li {
    margin: 6px 0;

    >label {
      width: 166px !important;
    }
    >span {
      color: $black !important;
    }
    &.email {
      span {
        display: block;
        margin-left: 160px;
        line-height: 28px;

        &.inline-element {
          display: inline-block;
          margin: 0;
        }
      }
    }
  } // end li
} // end info-list

.pic-list {
  >li {
    border: 1px solid $yellow;
    width: 240px;
    padding: 8px 8px 20px 8px;
    text-align: center;
    float: left;
    margin: 0 0 16px 8px;

    &.first-child {
      margin-left: 0 !important;
    }

    >h4 {
      text-transform: capitalize;
      color: $lighter4-grey;
      padding: 8px 0;
    }
    >a {
      color: $yellow;
      text-decoration: underline;
    }
    &:hover {
      background-color: $lighter3-yellow;
    }
  } // end li

  &.event {
    margin: 20px 0 0 0;

    >li {
      width: 252px;
      height: 246px;
      padding: 8px 4px 10px 4px;
      border: none;
      background-color: $lighter-grey;
      margin: 0 0 16px 5px;
      text-align: left;

      img {
         border: 1px solid $white;
      }
      >p {
        line-height: 24px;
        padding-bottom: 10px;
      }
    }
  }
} // end pic-list

.detail-area {
  margin-bottom: 16px;

  >div {
    &.dependent {
      width: 456px;
    }

    &.event {
        width: 364px;

      .fragment {
        padding: 10px;

        p {
          padding: 4px 0;
        }
      } // end fragment
      button {
        margin: 10px 0 0 0;
        width: 98%;
      }
    } // end event

    &.private-coach {
      width: 390px;

      .fragment {
        padding: 10px;

        &.light-grey-bg {
          background-color: $lighter-grey;
          margin-bottom: 1px;
        }

        .txt {
          color: $light-grey;
          line-height: 20px;
          margin: 4px 0 0 0;
        }
        h3 {
          margin-top: 10px;
        }
      }
    } // end private-coach

    .form-field {
      >li {
        color: $yellow;
      }
      label {
        width: 240px;
        font-size: 17px;
      }
      input {
        font-size: 20px;
        color: $yellow;
        margin-left: 8px;
      }
    } // end form-field
  }
  button {
    margin-right: 0 !important;
  }
} // end detail-area

ul.info-detail {
  font-family: "FranklinGothicBook";
  border-top: 1px solid $white;
  font-size: 17px;

  &.mid-font {
    font-size: 17px;
  }
  &.first-child {
    border: none;
  }
  &.event {
    border: none;

    >li {
      line-height: 28px;
      text-indent: 6px;

      label {
        width: 38%;
        text-transform: uppercase;
        font-family: "constantia";
        color: $light-grey;
      }
    }
  } // end event

  &.info1 {
    margin: 4px 0 20px 0;

    >li {
      line-height: 28px;

      >label {
        width: 18%;
        text-transform: uppercase;
        color: $light-grey;
      }
    }
  }

  >li {
    font-family: "FranklinGothicBook";
    padding: 2px 0;

    >label {
      font-family: "FranklinGothicBook";
      width: 174px;
      display: inline-block;
    }

    &.green {
      >label, >span {
       color: $green !important;
      }
    } // end green
  } // end li

  &.grey {
    >li {
      >label {
        color: $light-grey;
      }
    }

    &.yellow {
      >span {
        color: $yellow;
      }
    }
  }
  &.yellow {
    >li {
      >label {
        color: $yellow;
      }
    }
    &.grey {
      >li {
        >span {
          color: $light-grey;
        }
      }
    }
  }
}

.calendar {
  margin: 20px 0;

  >li {
    float: left;
    border: 8px solid $white;
    margin-right: 16px;

    >a {
      width: 100%;
      height: 100%;
      display: inline-block;
      border: 1px solid $light-grey;
      width: 82px;
      height: 82px;
      text-align: center;
      background-color: $white;

      .month {
        height: 26px;
        color: $white;
        background-color: $dark-red;
      }
    }

    &.active {
      border: 8px solid $lighter-grey;
    }
  }
}

.date {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid $light-grey;
  width: 82px;
  height: 82px;
  text-align: center;

  .month {
    height: 26px;
    line-height: 26px;
    color: $white;
    background-color: $dark-red;
  }
} // end date

.score-area {
  margin: 20px 0 0 0;

  >label {
    float: left;
    margin: 14px 10px;
  }
  >span {
    font-size: 40px;
    color: $red;
    padding-top: 30px;
  }
}

.payments {
  margin: 10px 0;

  li {
    line-height: 36px;
    text-indent: 10px;

    label {
      width: 38%;
      color: $light-grey;
      text-transform: uppercase;
      display: inline-block;

      &.black {
        color: $lighter-black;
        text-transform: capitalize;
      }
    }
  }

  >li {
    line-height: 36px;

    &:first-child {
      border-bottom: 1px solid $light-grey;
    }
    &.last-child {
      border-top: 1px solid $light-grey;
    }
  }
}

.record-list {
  margin: 0;

  >li {
    background-color: $lighter2-grey;
    padding: 10px;
    margin: 0 0 12px 0;
    border: none;
    float: none;

    >div {
      float: left;
      width: 648px;
      margin-left: 30px;

      h3 {
        margin: 0;
      }
      p {
        color: $light-grey;
      }
    } // end div

    >ul {
      width: 660px;
      margin-left: 24px;

      >li {
        line-height: 32px;
        border-bottom: 1px solid $white;

        >h3 {
          width: 278px;
        }
        i{
          margin-right: 10px;
        }
      } // end li
    } // end ul
  } // end li
} // end record-list

.log-in {
    position: relative;
    margin: 60px 20px 0 0;

    .dropdown {
      position: absolute;
      z-index: 100;
      left: -50px;
      top: 34px;
  } // end dropdown
  .sm-bottom {
    margin-left: 10px;
  }
}
.dropdown {
  width: 184px;
  height: 180px;
  border-top: 20px solid $red;
  background-color: $white;
  box-shadow: 0 2px 8px $light-grey;

  .photo-area {
    width: 70px;
    height: 70px;
    margin: 10px auto;
    border-radius: 50px;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50px;
    }
  } // end photo-area

  >ul {
    >li {
      border-top: 1px solid $yellow;
      line-height: 38px;

      a {
        color: $yellow;
        font-size: 18px;
        font-family: "constantia";
        text-transform: uppercase;
      }

      &:first-child {
        border: none;
      }
    }
  }
}

.item-list {
  >li {
    width: 50%;
    float: left;
    font-family: "franklingothicbook";

    >h2 {
      font-size: 15px;
      line-height: 44px;
    }
    .detail {
      width: 250px;
      padding: 10px;
      font-size: 17px;
      color: $yellow;

      h5 {
        font-family: "franklingothicbook";
        font-size: 17px;
      }
    }
  }
}
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $white;
  opacity: .5;
}
.overlay {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: $white;
  box-shadow: 0 2px 8px #878787;
  .header {
    background-color: $darker-red;
    height: 56px;
    line-height: 56px;
    color: $white;
    text-indent: 20px;
    font-style: italic;
    font-size: 25px;
  }
  .record-list {
    .detail {
      width: 532px;

      span, a, h3 {
        font-family: "franklingothicbook";
        font-size: 17px;
        color: $yellow;
      }
    }
  }
  &.mid {
    width: 740px;
    height: 464px;
    margin: -232px 0 0 -370px;
  }


}
