@import "../utils/variables";

input[type=text], input[type=password], input[type=email], select {
  width: 270px;
  height:30px;
  line-height: 30px;
  border: 1px solid $light-grey;
  text-indent: 10px;

  &.small {
    width: 170px;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  vertical-align: middle;
  //    padding: 224px 0 198px 0;
  //  background: url("../../assets/img/bg.jpg") center center no-repeat;
  overflow: hidden;

  >header {
    height: 224px;
    //    position: absolute;
    top: 0;
  }
  >footer {
    height: 198px;
    position: absolute;
    bottom: 0;
  }
  section {
    width: 100%;
    height: 100%;
    //    min-height: 840px;
    padding-bottom: 198px;
    min-height: 426px;
    //    position: relative;
    vertical-align: middle;
    background: url("../../assets/img/bg.jpg") center top no-repeat;
    overflow: hidden;

    &.home {
      background: url("../../assets/img/login_bg.jpg") center center no-repeat !important;
    }

    .container {
      width: 100%;
      height: 320px;
      background: $white;
      opacity: .8;
      filter: alpha(opacity=80);
      position: absolute;
      top: 50%;
      margin-top: -160px;
    }
  } // end section

  .lg-content {
    width: 1550px;
    margin: 0 auto;

    >span {
      cursor: pointer;
    }
  } // end lg-content

  .content {
    width: 1060px;
    margin: 0 auto;

    >p {
      font-size: 24px;
      color: $yellow;
      text-align: center;

      &.tips {
        line-height: 320px;
        text-transform: uppercase;
        font-style: italic;
      }
    }
    >ul {
      &.question {
//        width: 466px;

        >li {
          font-size: 24px;
          color: $yellow;
          padding-right: 0;
          margin-bottom: 14px;

          >p {
            font-size: 20px;
            font-family: "franklingothicbook";
            padding-bottom: 12px;
            text-align: left;
            padding-left: 294px;
          }
        }
        input {
          width: 466px;
        }
      }
      >li {
        padding-right: 160px;
      }
    }
    ul {
      li {
        text-align: center;
        margin-bottom: 20px;

        &.title {
          padding-right: 0 !important;
        }
        &:first-child {
          margin-top: 20px;
        }

        >label {
          font-size: 24px;
          color: $yellow;
          width: 240px;
          text-align: right;
          display: inline-block;
        }
        >p {
          font-size: 24px;
          color: $yellow;
        }
        &.btn-area {
          margin-left: 180px;
        }
        >ul {
          >li {
            margin-bottom: 10px !important;
          }
        }
      } // end li
    } // end ul
    &.login {
      >ul {
        >li {
          &:first-child {
            margin-top: 60px;
          }

          &.get-pwd {
            margin-left: 390px;

            >a {
              color: $yellow;
              font-size: 18px;
              text-decoration: underline;
            }
          } // end get-pwd
          &.btn-area {
            margin-top: 60px;
          }
        } // end li
      } // end ul
    } // end login
  } // end content
  .main {
    width: 1060px;
    margin: 196px auto 0 auto;
    position: relative;
  }
  .txt-center {
    text-align: center !important;
  }
  .txt-left {
    text-align: left !important;
  }
  .txt-right {
    text-align: right !important;
  }

  .left-sidebar {
    width: 240px;
    float: left;
    margin-top: 140px;
  }
  .right-sidebar {
    width: 790px;
    float: right;
  }
} // end wrapper

.right {
  float: right !important;
}
.left {
  float: left !important;
}
.relative {
  position: relative;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.franklingothicbook {
  font-family: "franklingothicbook";
}
.franklingothicbookregular {
  font-family: "franklingothicbookregular";
}
.bold {
  font-weight: bold;
}
.font17 {
  font-size: 17px;
}
.font26 {
  font-size: 26px;
}
.font30 {
  font-size: 30px;
}
.grey {
  color: $light-grey;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.red {
  color: $red;
}
.light-yellow {
  color: $lighter4-yellow;
}
.purple {
  color: $purple;
}
.more {
  font-family: "franklingothicbook";
  font-size: 15px;
  color: $red;
}
.txt {
  color: $lighter1-grey;
  font-size: 15px;
}
.underline {
  text-decoration: underline;
}
h4 {
  color: $light-grey;
  font-size: 15px;
}
h3 {
  color: $red;
  margin-top: 6px;
}
h2 {
  color: $red;
  margin-top: 6px;
  font-family: "constantia";
}
h1 {
  margin-bottom: 8px;
}
.large-width {
  width: 398px !important;
}
.green-bg {
  background-color: $light-green;
  padding: 12px 20px 20px 20px;
}
.grey-bg {
  background-color: $lighter-grey;
  padding: 12px 20px 20px 20px;
  margin: 16px 0;
}
.spacing {
  padding: 20px 0 60px 0;
}
.comment {
  margin-top: 30px;
}
.hide {
  display: none;
}



// for demo style
.demo {
  position: absolute;
  background: $white;
  top: 100px;
  opacity: .5;

  span {
    margin: 0 20px;
    display: inline-block;
  }
}

